#navbar li{
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  padding: 2%;
  border-radius: 10%;
  border: 3px double #C5CCDB;
  background-color:#423C32;
  margin-left: 2%;
   font-family: 'Raleway' bold, sans-serif;
  
    
}
header .inner{
  font-family: 'Raleway' bold, sans-serif;
  background color: #423C32;
  text-align: center;
  border: 4px double solid black;
}
#navbar a{
 color: white;
  /* text-shadow:  1px 1px 0px rgba(255, 255, 255, 1);*/
 
}
#navbar{
  border: 4px double #C5CCDB;
  background-color: #030605;
  color: #C5CCDB;
   font-size: 18px;
}
#content-wrapper{
  background-color:#D9B991;
  border: 4px double #030605;
  color: #030605;
  font-family: 'Raleway', sans-serif;
}
h3{
  margin-right: 5%;
  margin-left: 5%;
}
#main-content ol{
  margin-right: 5%;
  margin-left: 7%;
}
#main-content p{
  margin-left: 7%;
}
